#home {
  padding-top: 200px;
  padding-bottom: 250px;
  background-image: linear-gradient(to right, black 0% 50%, #57b8ff 50% 100%);
}

.home-section {
  display: flex;
  justify-content: space-between;
}
.home-left {
    width: 50%;
}
.home-left-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home-left-title h4 {
    letter-spacing: 2px;
  font-family: Orbitron;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-color);
}

.home-left-heading {
  margin-top: 24px;
}
.home-left-heading h1 {
  font-weight: 100;
  font-size: 72px;
  line-height: 100px;
  text-transform: capitalize;
  color: #ffffff;
}

.sariq-chiziq {
  position: relative;
  left: 215px;
  bottom: 110px;
}

.home-left-p {
  margin-top: 40px;
}
.home-left-p p {
  font-size: 18px;
  line-height: 28px;
  color: #999999;
}

.home-left-btns {
  margin-top: 75px;
  display: flex;
  gap: 30px;
}
.home-left-btns a {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 21px 34px;
  transition: 0.3s;
}

.home-left-btns a:hover {
    background-color: var(--title-color);
}
.home-right {
    display: flex;
    align-items: center;
    width: 50%;
}


@media (max-width:1285.60px) {
    .sariq-chiziq {
        display: none;
    }
    .home-right img {
        width: 100%;
    }
} 

@media (max-width:1065px) {
    #home {
        padding-top: 100px;
    }
    .home-left-title h4 {
        font-size: 15px;
    }
    .home-left-heading h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .home-left-p p {
        font-size: 14px;
    }
    .home-left-btns a {
        font-size: 14px;
        padding: 20px 30px;
    }
}
@media (max-width:790px) {
    #home {
        padding-bottom: 100px;
    }
    .home-left-title h4 {
        font-size: 10px;
    }
    .home-left-heading {
        margin-top: 0px;
    }
    .home-left-heading h1 {
        font-size: 30px;
    }
    .home-left-p {
        margin-top: 20px;
    }
    .home-left-p p {
        font-size: 11px;
    }
    .home-left-btns {
        margin-top: 50px;
    }
    .home-left-btns a {
        font-size:11px ;
        padding: 10px 20px;
    }
}
@media (max-width:670px) {
    header {
        background: black;
    }
    #home {
        padding-bottom: 0;
        background:black;
    }
    .home-section {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .home-left, .home-right {
        width: 100%;
    }
    .home-left-title {
        flex-direction: column;
    }
    .home-left-heading {
        margin-top: 15px;
        text-align: center;
    }
    .home-left-heading h1 {
        font-size: 50px;
        line-height: 80px;
    }
    .home-left-p {
        text-align: center;
        margin-top: 40px;
    }
    .home-left-p p {
        font-size: 16px;
    }
    .home-left-btns {
        justify-content: center;
    }
    .home-left-btns a {
        font-size: 16px;
        padding: 20px 20px;
    }
}   

@media (max-width:506px) {
    .home-left-title h4 {
        font-size: 10px;
    }
    .home-left-heading {
        margin-top: 0px;
    }
    .home-left-heading h1 {
        font-size: 39px;
        line-height: 65px;
    }
    .home-left-p {
        margin-top: 20px;
    }
    .home-left-p p {
        font-size: 13px;
    }
    .home-left-btns {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    .home-left-btns a {
        font-size:13px ;
        padding: 15px 25px;
    }
}

